<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}">
</head>
<body>
<!--{% include 'navbar.html' %}-->
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div>
        <br>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
    {% endif%}
    <br/>
    {% block content %}

    <div class="col-md-6 offsets-md-3">
        <h1>Додати Учня...</h1>
        <br/>
        <form method="post" action="{% url 'create_student_with_token' pk=pk token=token %}">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Oops!</strong> Сталась помилка!!!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endif %}
                <p>{{ form.student_full_name }}</p>
                <p>{{ form.student_phone_number }}</p>
                <p>{{ form.parent_phone_number }}</p>
                <p>{{ form.parent_full_name }}</p>
                <p>{{ form.school }}</p>
                <p>{{ form.class_number }}
                </p><input type="hidden" name="center" value="{{ center.pk }}">
                <p>Центр: <strong>{{ center }}</strong></p>

                <p>
                    <button type="submit" class="btn btn-primary">Додати Учня</button>
                </p>
            </div>
        </form>
    </div>

    {% endblock content%}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>