{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

{% for name, url in breadcrumbs %}
 {% if not forloop.last %}
    <a href="{{ url }}" class="breadcrumb-link">{{ name }}</a>
{% else %}
 <span class="breadcrumb-link breadcrumb-active">{{ name }}</span>
{% endif %}
    {% if not forloop.last %}<span class="breadcrumb-separator">&gt;</span>{% endif %}
{% endfor %}


{% if student_obj %}
<div class="container">

<h2>Перший Дзвінок...</h2>

<div class="btn-group">
<select class="form-control" id="operatorDropdown">
    <option value="all">All Operators</option>
    {% for operator in operators %}
        <option value="{{ operator.id }}">{{ operator.username }}</option>
    {% endfor %}
</select>
</div>

<table class="styled-table">
  <thead>
    <tr>
      <th scope="col">ПІБ</th>
      <th scope="col">Номер Телефону</th>
        <th scope="col">Номер Телефону Батьків</th>
        <th scope="col">Школа</th>
        <th scope="col">Клас</th>
        <th scope="col">Дата додавання</th>
        <th scope="col">Перший дзвінок</th>
        <th scope="col">Статус Першого Дзвінка</th>
        <th scope="col">Запис на пробне</th>
        <th scope="col">Статус Пробного</th>
        <th scope="col">Коментар</th>
        <th scope="col">Редагувати</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
      {% if center_obj %}
        {% for student in student_obj %}
        <tr class="first-call-row active-row">
            <td>{{ student.student_full_name}}</td>
            <td>{{ student.student_phone_number}}</td>
            <td>{{ student.parent_phone_number}}</td>
            <td>{{ student.school|default_if_none:""}}</td>
            <td>{{ student.class_number|default_if_none:""}}</td>
            <td>{{ student.student_add_date|default_if_none:""}}</td>
            <td>{{ student.first_call|default_if_none:""}}</td>
            <td>{{ student.first_call_satus|default_if_none:""}}</td>
            <td>{{ student.trial_registration|default_if_none:""}}</td>
            <td>{{ student.trial_status|default_if_none:""}}</td>
            <td>{{ student.comment_first_call|default_if_none:""}}</td>
            <td>
            <a href="{% url 'student_update' pk=student.pk %}">
            <button type="button" class="btn btn-link">Змінити</button></a>
          </td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% else %}

    <h2>Немає учнів для дзвінка</h2>

{% endif %}
{% endif %}
{% endblock content %}