{% extends "base.html" %}
{% block content %}
<div class="col-md-6 offsets-md-3">
<h1>Другий дзвінок</h1>
<br/>

<form method="post">
{% csrf_token %}

     <!-- student_full_name -->
    <div class="form-group">
        <p>
        <label for="student_full_name">Повне ім'я:</label>
        <input type="text" id="student_full_name" class="form-control" value="{{ student_obj.student_full_name }}" readonly>
        <input type="hidden"  name="student_full_name" value="{{ student_obj.student_full_name }}">
        </p>
    </div>

     <!-- student_phone_number -->
    <div class="form-group">
        <p>
        <label for="student_phone_number">Номер телефону студента:</label>
        <input type="text" id="student_phone_number" class="form-control" value="{{ student_obj.student_phone_number }}" readonly>
        <input type="hidden" name="student_phone_number" value="{{ student_obj.student_phone_number }}">
        </p>
    </div>

    <!-- parent_phone_number -->
    <div class="form-group">
        <p>
        <label for="parent_phone_number">Номер телефону батьків:</label>
        <input type="text" id="parent_phone_number" class="form-control" value="{{ student_obj.parent_phone_number }}" readonly>
        <input type="hidden" name="parent_phone_number" value="{{ student_obj.parent_phone_number }}">
        </p>
    </div>

    <!-- parent_full_name -->
    <div class="form-group">
        <p>
        <label for="parent_full_name">ПІБ батьків:</label>
        <input type="text" id="parent_full_name" class="form-control" value="{{ student_obj.parent_full_name }}" readonly>
        <input type="hidden" name="parent_full_name" value="{{ student_obj.parent_full_name }}">
        </p>
    </div>

    <!-- school -->
    <div class="form-group">
        <p>
        <label for="school">Школа:</label>
        <input type="text" id="school" class="form-control" value="{{ student_obj.school|default_if_none:''}}" readonly>
        <input type="hidden" name="school" value="{{ student_obj.school }}">
        </p>
    </div>

     <!-- class_number -->
    <div class="form-group">
        <p>
        <label for="class_number">Клас:</label>
        <input type="text" id="class_number" class="form-control" value=" {{ student_obj.class_number|default_if_none:''}}" readonly>
        <input type="hidden" name="class_number" value="{{ student_obj.class_number }}">
        </p>
    </div>

    <!-- first_call -->
    <div class="form-group">
        <p>
        <label for="first_call">Оператор першого дзвінка:</label>
        <input type="text" id="first_call" class="form-control" value=" {{ student_obj.first_call|default_if_none:''}}" readonly>
        <input type="hidden" name="first_call" value="{{ student_obj.first_call }}">
        </p>
    </div>

    <!-- first_call_satus -->
    <div class="form-group">
        <p>
        <label for="first_call_satus">Статус першого дзвінка:</label>
        <input type="text" id="first_call_satus" class="form-control" value=" {{ student_obj.first_call_satus|default_if_none:''}}" readonly>
        <input type="hidden" name="first_call_satus" value="{{ student_obj.first_call_satus }}">
        </p>
    </div>

    <!-- trial_registration -->
    <div class="form-group">
        <p>
        <label for="trial_registration">Запис на пробне:</label>
        <input type="text" id="trial_registration" class="form-control" value=" {{ student_obj.trial_registration}}" readonly>
        <input type="hidden" name="trial_registration" value="{{ student_obj.trial_registration }}">
        </p>
    </div>

    <!-- trial_status -->
    <div class="form-group">
        <p>
        <label for="trial_status">Статус пробного:</label>
        <input type="text" id="trial_status" class="form-control" value=" {{ student_obj.trial_status}}" readonly>
        <input type="hidden" name="trial_status" value="{{ student_obj.trial_status }}">
        </p>
    </div>

    <!-- comment_first_call -->
    <div class="form-group">
        <p>
        <label for="comment_first_call">Коментар:</label>
        <input type="text" id="comment_first_call" class="form-control" value=" {{ student_obj.comment_first_call|default_if_none:''}}" readonly>
        <input type="hidden" name="comment_first_call" value="{{ student_obj.comment_first_call }}">
        </p>
    </div>

    <hr>
       <label>Оператор:</label>
        <p>
            <select id="second_call" name="second_call" class="form-control">
               {% for operator in operators %}
                  <option value="{{ operator.username }}"
                      {% if student_obj.second_call == operator.username or not student_obj.second_call and operator.username == user.username %}
                      selected
                      {% endif %}>
                      {{ operator.username }}
                  </option>
               {% endfor %}
            </select>
        </p>

        <label>Статус другого дзвінка:</label>
        <p>{{ form.second_call_satus }}</p>

        <label>Група постійне:</label>
        <p>{{ form.add_to_group }}</p>

        <label>Кометар:</label>
        <p>{{ form.comment_second_call }}</p>

    <p><button type="submit" class="btn btn-primary">Підтвердити</button></p>
    <br/>
    <br/>
</form>
</div>
{% endblock content %}
