{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

{% for name, url in breadcrumbs %}
 {% if not forloop.last %}
    <a href="{{ url }}" class="breadcrumb-link">{{ name }}</a>
{% else %}
 <span class="breadcrumb-link breadcrumb-active">{{ name }}</span>
{% endif %}
    {% if not forloop.last %}<span class="breadcrumb-separator">&gt;</span>{% endif %}
{% endfor %}

{% if student_obj %}


<h1>{{group_trial_obj.group_name}}</h1>
<div class="d-flex flex-row-reverse">

<table class="styled-table">
  <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">ПІБ</th>
        <th scope="col">Номер Телефону</th>
        <th scope="col">Номер Телефону Батьків</th>
        <th scope="col">ПІБ Батьків</th>
        <th scope="col">Школа</th>
        <th scope="col">Клас</th>
        <th scope="col">Дата додавання</th>
        <th scope="col">Оператор</th>

    </tr>
  </thead>
  <tbody class="table-group-divider">
        {% for student in student_obj %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{ student.student_full_name }}</td>
            <td>{{ student.student_phone_number }}</td>
            <td>{{ student.parent_phone_number }}</td>
            <td>{{ student.parent_full_name }}</td>
            <td>{{ student.school }}</td>
            <td>{{ student.class_number }}</td>
            <td>{{ student.student_add_date }}</td>
            <td>{{student.first_call}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
    <h2>Немає учнів</h2>

{% endif %}
{% endif %}
{% endblock content %}