{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

{% for name, url in breadcrumbs %}
    <a href="{{ url }}" class="breadcrumb-link">{{ name }}</a>
    {% if not forloop.last %}<span class="breadcrumb-separator">&gt;</span>{% endif %}
{% endfor %}

{% if student_obj %}

<h1>{{group_obj.group_name}}</h1>

<div class="d-flex flex-row-reverse">

<table class="table table-striped table-hover table-bordered table-sm centers-table students-table">
  <thead>
    <tr>
      <th scope="col">ПІБ</th>
      <th scope="col">Номер Телефону</th>
        <th scope="col">Номер Телефону Батьків</th>
        <th scope="col">Школа</th>
        <th scope="col">Клас</th>
        <th scope="col">Дата додавання</th>

    </tr>
  </thead>
  <tbody class="table-group-divider">
        {% for student in student_obj %}
        <tr>
          <td>{{ student.student_full_name }}</td>
          <td>{{ student.student_phone_number }}</td>
          <td>{{ student.parent_phone_number }}</td>
            <td>{{ student.school }}</td>
            <td>{{ student.class_number }}</td>
            <td>{{ student.student_add_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
    <h2>Немає учнів</h2>

{% endif %}
{% endif %}
{% endblock content %}