.breadcrumb-link {
    color: #333;
    text-decoration: none;
    position: relative;
    top: -20px;  /* Adjust this value to move the breadcrumbs higher or lower */
}

.breadcrumb-separator {
    margin: 0 10px;
    position: relative;
    top: -20px;
}

.breadcrumb-link:hover {
    color: #6692ea;  /* Change the color on hover */
}


/* Styles for the pagination go here */
.pagination {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
    color:gray;
}

.pagination .prev,
.pagination .next {
    color: black;
    text-decoration: none;
    margin: 0 10px; /* Add horizontal margin */
}

.pagination .page-numbers {
    display: flex;
    gap: 4px; /* Adjust this value to increase or decrease the space between page numbers */
}

.pagination .page-numbers .current {
    color: black;
    display: flex;
}

.pagination .page-numbers a {
    color: inherit; /* Make the color the same as the surrounding text */
    text-decoration: none; /* Remove the underline */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #000000;
    border: 1px solid #007BFF;
}

th {
   background-color: #6692ea /* Change the background color to blue */
   border: 10px solid #007BFF;
   font-weight: bold;

}

.centers-table th, .centers-table td {
    border: 1px solid #000000; /* Change the border color to black */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #6692ea; /* Change the hover color to a lighter blue */
}


.first-call-row td:nth-child(-n+6) {
    background-color: #f5f5f5;
}

.first-call-row td:nth-child(n+7) {
    background-color: #d6ffff;
}

.first-call-row td:last-child {
    background-color: white;
}

.second-call-row td:nth-child(-n+6) {
    background-color: #f5f5f5;
}

.second-call-row td:nth-child(n+7):nth-child(-n+11) {
    background-color: #d6ffff;
}

.second-call-row td:nth-last-child(-n+5) {
    background-color: #EAFFE1;
}

.second-call-row td:last-child {
    background-color: white;
}
data-operator-id="{{ student.second_call.id }}" class="operator-row"