body {
  font-family: 'lato', sans-serif;
}

body.default-background {
    background-color: #e4e4e4;
}

h2 {
  text-align: left;
  padding: 5px 0;
  color: black;
}

/* Add styles for the navbar */
.navbar {
    background-color: #2e073f; /* Change this to the desired color */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white; /* Change this to the desired text color */
}


.navbar .nav-link:hover {
    color: #FFD700; /* Change this to the desired hover color */
}

/* Ensure the logo color does not change on hover */
.navbar .navbar-brand:hover {
    color: white; /* Keep the logo color white on hover */
}



.second-call-page {
    margin-left: -80px; /* Add 50px margin from the left border */
    width: calc(100% - 50px); /* Adjust width to account for the margin */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    position: relative; /* Ensure the element is positioned correctly */
}

.breadcrumb-link {
    color: #008000;
    text-decoration: none;
    position: relative;
    top: -20px;  /* Adjust this value to move the breadcrumbs higher or lower */
}

.breadcrumb-separator {
    color: black;
    margin: 0 10px;
    position: relative;
    top: -20px;
}

.breadcrumb-link:hover {
    color: #696969;  /* Change the color on hover */
}

.breadcrumb-active {
    color: #696969;
}


/* Styles for the pagination go here */
.pagination {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
    color:gray;
}

.pagination .prev,
.pagination .next {
    color: black;
    text-decoration: none;
    margin: 0 10px; /* Add horizontal margin */
}

.pagination .page-numbers {
    display: flex;
    gap: 4px; /* Adjust this value to increase or decrease the space between page numbers */
}

.pagination .page-numbers .current {
    color: black;
    display: flex;
}

.pagination .page-numbers a {
    color: inherit; /* Make the color the same as the surrounding text */
    text-decoration: none; /* Remove the underline */
}
/* Tables  */

table {
    width: 100%;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 12px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr:hover {
    color: #005bf2; /* Change this to the color you want */
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Styles for the first call page */
.first-call-row td:nth-last-child(-n+6) {
    background-color: #e0fff0;
}

.first-call-row td:last-child {
    background-color: white;
}

/* Styles for the secon call page */
.second-call-row td:nth-child(-n+6) {
    background-color: #f5f5f5;
}

.second-call-row td:nth-child(n+7):nth-child(-n+11) {
    background-color: #f5f5f5;
}

.second-call-row td:nth-last-child(-n+5) {
    background-color: #e0fff0   ;
}

.second-call-row td:last-child {
    background-color: white;
}


/* Style the filter container */
.filter-container {
    margin-bottom: 20px;
}

.filter-container label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-container .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
/* Style the filter container to display filters in one line */
.filter-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between filters as needed */
    margin-bottom: 5px;
}

/* Add distance from the filter container to the table header */
.filter-container + .styled-table {
    margin-top: 10px;
}

/* Make the first option in select elements bold */
select option:first-child {
    font-weight: bold;
}
.custom-spacing {
    margin-bottom: 20px; /* Adjust the value to your preference */
}

.pagination {
    margin-bottom: 20px;
}

.center-table {
    display: flex;
    justify-content: center;
}
.filter-container {
    margin-bottom: 15px; /* Spacing below the filter container */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
}

.filter-count {
    margin-left: 10px; /* Space between the dropdown and count */
    font-weight: bold;  /* Make count text bold */
    color: #2e073f;     /* color of the nav for the counts */
    font-size: 13px;    /* Adjust font size */
    width: auto;        /* Auto width for dynamic content */
    display: none;      /* Initially hidden */
    height: 100%;       /* Full height to align with dropdown */
    line-height: normal; /* Set line-height to normal for better centering */
    align-items: center; /* Center vertically */
    margin-top: 10px;
}

.clear-filters {
    margin-left: 10px;  /* Space between the dropdown and button */
    font-weight: bold;   /* Make button text bold */
    background-color: #dc3545; /* Red color for the clear button */
    color: white;        /* White text color */
    border: none;       /* Remove default border */
    padding: 5px 10px;  /* Padding around the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;     /* Change cursor on hover */
}

.clear-filters:hover {
    background-color: #c82333; /* Darker red on hover */
}

.bold-text {
    font-weight: bold;
    color: #2e073f;
    font-size: 13px;
}

.dropdown-right {
    margin-left: auto; /* Push the dropdown to the right */
}

.right-aligned-button {
   margin-left: auto;
   margin-right: -170px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.custom-search-input {
    margin-left: 20px;
}